<div class="fadeIn first">
  <img src="../../../assets/avatar.png" id="icon" alt="User Icon" />
</div>

<h2 class="text-center">Entrar</h2>

<form (ngSubmit)="onSubmit()" #form="ngForm">
  <div class="form-group">
    <label>E-mail</label>
    <input
      class="form-control mb-2"
      type="email"
      name="email"
      id="email"
      [(ngModel)]="login.email"
      required
    />
  </div>
  <div class="form-group">
    <label>Senha</label>
    <input
      class="form-control mb-3"
      type="password"
      name="password"
      id="password"
      [(ngModel)]="login.password"
      required
    />
  </div>
  <button
    type="submit"
    class="btn btn-primary btn-block"
    [disabled]="form.form.invalid"
  >
    Entrar
  </button>
  <button
    type="button"
    class="btn btn-link btn-block"
    [routerLink]="['/create-account']"
  >
    Criar conta
  </button>
</form>
